In [1]:
import numpy as np

# PYNATIVE NUMPY EXERCISE

# EXERCISE 2

create a 5by2 integer array from range between 100 to 200 such that the difference btwn each element is 10

In [2]:
array = np.arange(100,200 ,10)
print(array)

[100 110 120 130 140 150 160 170 180 190]

In [3]:
new_array =array.reshape(5,2)
print(new_array)

[[100 110]
 [120 130]
 [140 150]
 [160 170]
 [180 190]]

# EXERCISE 3

From the following numpy arry, return array of items in the 2nd column from all rows

In [4]:
 sample_array =np.array([[11,22,33] , [44,55,66] , [77,88,99]])
print(sample_array)

[[11 22 33]
 [44 55 66]
 [77 88 99]]

In [5]:
sample_array[: , 1]

array([22, 55, 88])

In [6]:
sample_array[2,1]

88

# EXERCISE 4

From the following given numpy array return array of odd rows and even columns

In [7]:
sample_array =np.array([[3,6,9,12] , [15,18,21,24] , [27,30,33,36] , [39,42,45,48] , [51,54,57,60]]) 
print(sample_array)

[[ 3  6  9 12]
 [15 18 21 24]
 [27 30 33 36]
 [39 42 45 48]
 [51 54 57 60]]

In [8]:
 new_py =sample_array[1:2]
print(new_py)

[[15 18 21 24]]

In [9]:
new_array =sample_array[: :2, 1: :2] #from the bracket theres a difference by 2[r,c]
print(new_array)

[[ 6 12]
 [30 36]
 [54 60]]

In [10]:
new_array =sample_array[: :2] 
print(new_array)

[[ 3  6  9 12]
 [27 30 33 36]
 [51 54 57 60]]

# EXERCISE 5

Add the following two numpy arrays and modify a result array by calculating the square of each elelment

In [11]:
array_one = np.array([[5,6,9] , [21,18,27]])

In [12]:
array_two = np.array([[15,33,24] , [4,7,1]])

In [13]:
new_array =array_one + array_two
print(new_array)

[[20 39 33]
 [25 25 28]]

In [14]:
array_2 = np.square(new_array)
print(array_2)

[[ 400 1521 1089]
 [ 625  625  784]]

# EXERCISE 6

Create a 8by3 integer array from a range between 10 to 34 and then split the array into four equal-sized sub-arrays

In [15]:
array = np.arange(10,34)
print(array)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33]

In [16]:
array_3 = array.reshape(8,3)
print(array_3)

[[10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]

In [17]:
sub_arrays = np.split(array_3, 4)
print(sub_arrays)

[array([[10, 11, 12],
       [13, 14, 15]]), array([[16, 17, 18],
       [19, 20, 21]]), array([[22, 23, 24],
       [25, 26, 27]]), array([[28, 29, 30],
       [31, 32, 33]])]

# EXERCISE 7

find the following array 
(a). by the third row 
(b). by the third column

In [18]:
newarray =np.array([[34, 43, 73] , [82, 22, 12] , [53, 94, 66]])
print(newarray)

[[34 43 73]
 [82 22 12]
 [53 94 66]]

In [19]:
#find by third row
newarray[2 :]

array([[53, 94, 66]])

In [20]:
#find by third column
newarray[: , 2] #(row, column)

array([73, 12, 66])

In [21]:
#find by 1st and second column
newarray[:  :2]

array([[34, 43, 73],
       [53, 94, 66]])

In [22]:
#add another item or value
newarray[0,2]=22
print(newarray)

[[34 43 22]
 [82 22 12]
 [53 94 66]]

# exercise 9
 
from the given array delete column 2 and insert new column in its place

In [23]:
column =np.array([[34, 44, 45] , [23, 47, 21] , [54, 98, 67]])
print(column)

[[34 44 45]
 [23 47 21]
 [54 98 67]]

In [24]:
new_column =np.array([[10, 10, 10]])

In [25]:
column =np.delete(column ,1, axis = 1)
print(column)

[[34 45]
 [23 21]
 [54 67]]

In [26]:
column =np.insert(column,1,new_column, axis=1)
print(column)

[[34 10 45]
 [23 10 21]
 [54 10 67]]

# more exercises

In [32]:
e =np.array([[19,11,13], [12,42,15],   # in terms of slicing elements in third row , 
               [12,34,25], [17,23,16]])       #elements from zeroth to 1st colum
             
print(e)
e[3:, :2]

[[19 11 13]
 [12 42 15]
 [12 34 25]
 [17 23 16]]

array([[17, 23]])